/*--------------- Icomoon ---------------*/

@font-face {
  font-family: 'q4icons';
  src:
    url('https://s3.amazonaws.com/icomoon.io/50912/Q4Ingersoll/q4icons.woff2?dagtim') format('woff2'),
    url('https://s3.amazonaws.com/icomoon.io/50912/Q4Ingersoll/q4icons.ttf?dagtim') format('truetype'),
    url('https://s3.amazonaws.com/icomoon.io/50912/Q4Ingersoll/q4icons.woff?dagtim') format('woff'),
    url('https://s3.amazonaws.com/icomoon.io/50912/Q4Ingersoll/q4icons.svg?dagtim#q4icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="q4i-"]:before, [class*=" q4i-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'q4icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.q4i-home:before {
  content: "\e933";
}
.q4i-Accordion_Close .path1:before {
  content: "\e913";
  color: rgb(255, 255, 255);
}
.q4i-Accordion_Close .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.q4i-Accordion_Close .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.q4i-Accordion_Open .path1:before {
  content: "\e916";
  color: rgb(255, 255, 255);
}
.q4i-Accordion_Open .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.q4i-Accordion_Open .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.q4i-Icon_DOC .path1:before {
  content: "\e919";
  color: rgb(204, 204, 204);
}
.q4i-Icon_DOC .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(42, 86, 153);
}
.q4i-Icon_DOC .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_DOC .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_DOC .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_HTM .path1:before {
  content: "\e91e";
  color: rgb(204, 204, 204);
}
.q4i-Icon_HTM .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(231, 112, 0);
}
.q4i-Icon_HTM .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_HTM .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_HTM .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_PDF .path1:before {
  content: "\e923";
  color: rgb(204, 204, 204);
}
.q4i-Icon_PDF .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(213, 43, 30);
}
.q4i-Icon_PDF .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_PDF .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_PDF .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_XBRL .path1:before {
  content: "\e928";
  color: rgb(204, 204, 204);
}
.q4i-Icon_XBRL .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(124, 59, 192);
}
.q4i-Icon_XBRL .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_XBRL .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_XBRL .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_XBRL .path6:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_XLS .path1:before {
  content: "\e92e";
  color: rgb(204, 204, 204);
}
.q4i-Icon_XLS .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(135, 182, 31);
}
.q4i-Icon_XLS .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_XLS .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-Icon_XLS .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.q4i-ing-email:before {
  content: "\e900";
}
.q4i-ing-webcast:before {
  content: "\e901";
}
.q4i-ing-pdf:before {
  content: "\e902";
}
.q4i-ing-search:before {
  content: "\e903";
}
.q4i-circle:before {
  content: "\e907";
}
.q4i-block-logo:before {
  content: "\e904";
}
.q4i-logo:before {
  content: "\e905";
}
.q4i-download:before {
  content: "\e670";
}
.q4i-block-checkmark:before {
  content: "\e600";
}
.q4i-block-downchevron:before {
  content: "\e601";
}
.q4i-block-exit:before {
  content: "\e602";
}
.q4i-block-leftchevron:before {
  content: "\e603";
}
.q4i-block-minus:before {
  content: "\e604";
}
.q4i-block-plus:before {
  content: "\e605";
}
.q4i-block-rightchevron:before {
  content: "\e606";
}
.q4i-block-upchevron:before {
  content: "\e607";
}
.q4i-circle-leftchevron:before {
  content: "\e671";
}
.q4i-circle-rightchevron:before {
  content: "\e672";
}
.q4i-circle-upchevron:before {
  content: "\e673";
}
.q4i-circle-downchevron:before {
  content: "\e674";
}
.q4i-circle-alert:before {
  content: "\e608";
}
.q4i-circle-calendar:before {
  content: "\e609";
}
.q4i-circle-chair:before {
  content: "\e60a";
}
.q4i-circle-chat:before {
  content: "\e60b";
}
.q4i-circle-doc:before {
  content: "\e60c";
}
.q4i-circle-email:before {
  content: "\e60d";
}
.q4i-circle-expert:before {
  content: "\e60e";
}
.q4i-circle-facebook:before {
  content: "\e60f";
}
.q4i-circle-flickr:before {
  content: "\e610";
}
.q4i-circle-googleplus:before {
  content: "\e611";
}
.q4i-circle-html:before {
  content: "\e612";
}
.q4i-circle-independant:before {
  content: "\e613";
}
.q4i-circle-instagram:before {
  content: "\e614";
}
.q4i-circle-link:before {
  content: "\e615";
}
.q4i-circle-linkedIn:before {
  content: "\e616";
}
.q4i-circle-menu:before {
  content: "\e617";
}
.q4i-circle-minus:before {
  content: "\e618";
}
.q4i-circle-phone:before {
  content: "\e619";
}
.q4i-circle-pinterest:before {
  content: "\e61a";
}
.q4i-circle-plus:before {
  content: "\e61b";
}
.q4i-circle-print:before {
  content: "\e61c";
}
.q4i-circle-recording:before {
  content: "\e61d";
}
.q4i-circle-rss:before {
  content: "\e61e";
}
.q4i-circle-search:before {
  content: "\e61f";
}
.q4i-circle-share:before {
  content: "\e620";
}
.q4i-circle-twitter:before {
  content: "\e621";
}
.q4i-circle-video:before {
  content: "\e622";
}
.q4i-circle-youtube:before {
  content: "\e623";
}
.q4i-doc-calendar:before {
  content: "\e624";
}
.q4i-doc-chart:before {
  content: "\e625";
}
.q4i-doc-download:before {
  content: "\e626";
}
.q4i-doc-graph:before {
  content: "\e627";
}
.q4i-doc-html:before {
  content: "\e628";
}
.q4i-doc-link:before {
  content: "\e629";
}
.q4i-doc-pdf:before {
  content: "\e62a";
}
.q4i-doc-presentation:before {
  content: "\e62b";
}
.q4i-doc-webcast:before {
  content: "\e62c";
}
.q4i-doc-word:before {
  content: "\e62d";
}
.q4i-doc-zip:before {
  content: "\e62e";
}
.q4i-icon-alert:before {
  content: "\e62f";
}
.q4i-icon-apple:before {
  content: "\e908";
}
.q4i-icon-outlook:before {
  content: "\e909";
}
.q4i-icon-google:before {
  content: "\e90a";
}
.q4i-icon-calendar:before {
  content: "\e630";
}
.q4i-icon-chat:before {
  content: "\e631";
}
.q4i-icon-doc:before {
  content: "\e632";
}
.q4i-icon-email:before {
  content: "\e633";
}
.q4i-icon-expert:before {
  content: "\e634";
}
.q4i-icon-pdf:before {
  content: "\e906";
}
.q4i-icon-html:before {
  content: "\e638";
}
.q4i-icon-presentation:before {
  content: "\e90c";
}
.q4i-icon-download:before {
  content: "\e90d";
}
.q4i-icon-graph:before {
  content: "\e90b";
}
.q4i-icon-facebook:before {
  content: "\e635";
}
.q4i-icon-flickr:before {
  content: "\e636";
}
.q4i-icon-googleplus:before {
  content: "\e637";
}
.q4i-icon-independant:before {
  content: "\e639";
}
.q4i-icon-instagram:before {
  content: "\e63a";
}
.q4i-icon-link:before {
  content: "\e63b";
}
.q4i-icon-linkedIn:before {
  content: "\e63c";
}
.q4i-icon-member:before {
  content: "\e63d";
}
.q4i-icon-menu:before {
  content: "\e63e";
}
.q4i-icon-phone:before {
  content: "\e63f";
}
.q4i-icon-pinterest:before {
  content: "\e640";
}
.q4i-icon-print:before {
  content: "\e641";
}
.q4i-icon-rss:before {
  content: "\e642";
}
.q4i-icon-search:before {
  content: "\e643";
}
.q4i-icon-share:before {
  content: "\e644";
}
.q4i-icon-twitter:before {
  content: "\e645";
}
.q4i-icon-video:before {
  content: "\e646";
}
.q4i-icon-webcast:before {
  content: "\e647";
}
.q4i-icon-youtube:before {
  content: "\e648";
}
.q4i-rounded-checkmark:before {
  content: "\e649";
}
.q4i-rounded-exit:before {
  content: "\e64b";
}
.q4i-rounded-minus:before {
  content: "\e64d";
}
.q4i-rounded-plus:before {
  content: "\e64e";
}
.q4i-rounded-downchevon:before {
  content: "\e64a";
}
.q4i-rounded-upchevon:before {
  content: "\e650";
}
.q4i-rounded-leftchevon:before {
  content: "\e64c";
}
.q4i-rounded-rightchevon:before {
  content: "\e64f";
}
.q4i-rounded-downclaret:before {
  content: "\e90e";
}
.q4i-rounded-upclaret:before {
  content: "\e90f";
}
.q4i-rounded-leftclaret:before {
  content: "\e910";
}
.q4i-rounded-rightclaret:before {
  content: "\e911";
}
.q4i-square-calendar:before {
  content: "\e651";
}
.q4i-square-chat:before {
  content: "\e652";
}
.q4i-square-doc:before {
  content: "\e653";
}
.q4i-square-email:before {
  content: "\e654";
}
.q4i-square-facebook:before {
  content: "\e655";
}
.q4i-square-flickr:before {
  content: "\e656";
}
.q4i-square-googleplus:before {
  content: "\e657";
}
.q4i-square-html:before {
  content: "\e658";
}
.q4i-square-instagram:before {
  content: "\e659";
}
.q4i-square-link:before {
  content: "\e65a";
}
.q4i-square-linkedin:before {
  content: "\e65b";
}
.q4i-square-menu:before {
  content: "\e65c";
}
.q4i-square-microphone:before {
  content: "\e65d";
}
.q4i-square-notification:before {
  content: "\e65e";
}
.q4i-square-phone:before {
  content: "\e65f";
}
.q4i-square-pinterest:before {
  content: "\e660";
}
.q4i-square-print:before {
  content: "\e661";
}
.q4i-square-rss:before {
  content: "\e662";
}
.q4i-square-search:before {
  content: "\e663";
}
.q4i-square-share:before {
  content: "\e664";
}
.q4i-square-twitter:before {
  content: "\e665";
}
.q4i-square-video:before {
  content: "\e666";
}
.q4i-square-youtube:before {
  content: "\e667";
}
.q4i-square-scoopit:before {
  content: "\e912";
}
.q4i-txt-doc:before {
  content: "\e668";
}
.q4i-txt-flv:before {
  content: "\e669";
}
.q4i-txt-html:before {
  content: "\e66a";
}
.q4i-txt-pdf:before {
  content: "\e66b";
}
.q4i-txt-rtf:before {
  content: "\e66c";
}
.q4i-txt-xbrl:before {
  content: "\e66d";
}
.q4i-txt-xls:before {
  content: "\e66e";
}
.q4i-txt-zip:before {
  content: "\e66f";
}

.upcoming-events .ModuleItemRow .bg.clearfix {
    min-height: 225px;
}

.upcoming-events.ModuleEvent .WrapDocuments {
    position: relative;
}
.upcoming-events ul.ModuleLinks, .upcoming-events ul.ModuleLinks li, .upcoming-events ul.ModuleLinks li a {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin: 0;
padding: 0;
}